<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <main>
      <form method="post" action="/register">
        <h1>Registration Form</h1>
        <input type="text" name="fname" placeholder="Full Name" />
        <input type="email" name="email" placeholder="Email ID" />
        <input type="password" name="password" placeholder="Password" />
        <button type="Submit">Register</button>
      </form>
    </main>
  </body>
  <script src="index.js"></script>
</html>
